/* :root{
  --item-col: rgb(255, 192, 159);
  --white: #ffffffff;
  
  --star-command-blue: #1481baff;

  --red-crayola: rgb(248,79,107);
  --deep-champagne: #edcf8e;
  --trial-1: #f5853f;
} */
/* :root{
  --atomic-tangerine: #ffa570;
  --cerulean-frost: #5998c5ff;
  --aero-blue: #cfffe5ff;
  --middle-purple: #d782baff;
  --charleston-green: #212529ff;

  --magic-mint: #adffd3;
  --paradise-pink: #ea526f;
  --ultra-red: #ed6e85;
} */
:root{
  --jet: #353535ff;
  --dark-liver: #534d56ff;
  --silver: #c6c5b9ff;
  --granny-smith-apple: #b6fbb1ff;
  --beau-blue: #bdd4e7ff;
  --iris: #3d52d5ff;
  --royal-blue-light: #5869da;
  --violet-blue-crayola: #6878DE;
  --melon: #ffa69eff;
}
.body-main{
  text-align: center;
  /* background-color: var(--jet); */
  background-color: var(--silver);
  /* color: whitesmoke; */
  color: var(--dark-liver);
}
.all-comp-inside{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.avatar-img-1{
  margin:1rem;
  height:40px;
  width:40px;
  border: 1px solid white;
  border-radius: 60%;
  padding:1rem;
  background-color: var(--violet-blue-crayola);
}
.avatar-img-2{
  margin:1rem;
  height:60px;
  width:60px;
  border: 1px solid white;
  border-radius: 60%;
  padding:1rem;
  background-color: var(--violet-blue-crayola);
}
.avatar-img-3{
  margin:1rem;
  height:80px;
  width:80px;
  border: 1px solid white;
  border-radius: 60%;
  padding:1rem;
  background-color: var(--violet-blue-crayola);
}
.avatar-img-4{
  margin:1rem;
  height:100px;
  width:100px;
  border: 1px solid white;
  border-radius: 60%;
  padding:1rem;
  background-color: var(--violet-blue-crayola);
}
.alert{
  margin: auto;
  width:fit-content;
  padding: 1rem 3rem;
  border: 1px solid white;
  border-radius: 0.5rem;
}
.alert-success{
  background-color: var(--granny-smith-apple);
  color: green;
}
.alert-fail{
  background-color: var(--melon);
  color: red;
}
.all-buttons{
  justify-content: space-evenly;
}
.btn{
  margin: 1rem;
  color:black;
  background-color: var(--violet-blue-crayola);
  border: 5px solid var(--violet-blue-crayola);
  border-radius: 0.5rem;
  height:50px;
  width:100px;
  box-shadow: 4px 4px rgb(0,0,0,0.3);
}
.secondary-btn{
  background-color: white;
}
.icon-btn{
  height:60px;
  width:60px;
}
.icon-btn-icon{
  height:30px;
  width:30px;
  margin:auto;
}
.float-btn-div{
  position: sticky;
  bottom: 1rem;
}
.float-btn{
  text-align:center;
  position: fixed;
  right: 1rem;
  bottom:1rem;
  color:black;
  background-color: var(--violet-blue-crayola);
  border: 1px solid white;
  font-size: x-large;
  border-radius: 50%;
  height:50px;
  width:50px;
}
.badge-div{
  position:relative;
  display: flex;
  margin:auto;
  padding:0.5rem;
  width: fit-content;
  height: fit-content;
  vertical-align: middle;
}
.badge-on-icon{
  height:20px;
  width:20px;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  right:0.1rem;
  top:0.1rem;
}
.badge-icon-img{
  background-color: var(--violet-blue-crayola);
  margin:auto auto auto auto;
  padding:0.5rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  height:40px;
  width:40px;
  align-items: center;
}
.badge-on-avatar{
  height:20px;
  width:20px;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  right:0.5rem;
  top:0.5rem;
}
.badge-avatar-img{
  height:80px;
  width:80px;
  border: 1px solid white;
  border-radius: 60%;
  background-color: var(--violet-blue-crayola);
}
.badge-1{
  background-color: rgb(255, 166, 93);
}
.badge-2{
  background-color: green;
}
.badge-3{
  background-color: red;
}
.card-spaces{
  margin: 1rem;
  align-content: center;
}
.card-div{
  margin:auto;
  height:350px;
  width:250px;
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: var(--violet-blue-crayola);
  position:relative;
  text-align: center;
  align-items: center;
}
.card-title{
  font-size: x-large;
  padding: 0.5rem;
  margin: 0.5rem;
  text-decoration: overline underline;
}
.card-imgholder{
  /* border: 1px solid white; */
  border-radius: 0.5rem;
  margin: 0.3rem;
  padding: 0px;
  min-height: 190px;
  min-width: 240px;
}
.card-badge{
  position:absolute;
  right: 0rem;
  top: 1rem;
  width:100px;
  height:20px;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  color: white;
  background-color: rgb(255, 60, 82);
  box-shadow: 0px 3px rgb(255, 60, 82,0.7);
}
.card-dismiss{
  border: 1px solid white;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
.on-card-dismiss{
  visibility:hidden;
  position:absolute;
  left: -3rem;
  top: 1.5rem;
  border: 1px solid whitesmoke;
  border-radius: 3rem;
  width: 120px;
  color: white;
  background-color: var(--violet-blue-crayola);
}
.card-dismiss:hover .on-card-dismiss{
  visibility: visible;
}
.card-txtovrl{
  border: 1px solid white;
  text-align: center;
  margin: 1rem;
  position: absolute;
  top: 1rem;
}
.card-text{
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: left;
  font-size: larger;
}
.card-text-btn{
  margin: 1rem auto 1rem 0.5rem;
  color:black;
  background-color: var(--violet-blue-crayola);
  border: 1px solid white;
  border-radius: 0.5rem;
  height:30px;
  width:80px;
  box-shadow: 5px 5px rgb(0,0,0,0.5);
}
.card-horizontal{
  height: 200px;
  width: 350px;
  border: 1px solid white;
  border-radius: 0.5rem;
  margin: auto auto 0.5rem auto;
  background-color: var(--violet-blue-crayola);
}
.card-shadow{
  margin: auto;
  height:350px;
  width:250px;
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: var(--violet-blue-crayola);
  box-shadow: 7px 7px rgb(0 ,0 ,0 ,0.7);
}
/* the class below is just for this page's layout to put images in one row.*/
.img-resp{
  margin: 2rem;
  border: 1px solid black;
  cursor: pointer;
}
.resp1{
  height: 50px;
  width: 50px;
}
.resp2{
  height: 100px;
  width: 100px;
}
.resp3{
  height: 150px;
  width: 150px;
}
.resp4{
  height: 200px;
  width: 200px;
}
.img-round{
  margin: 1rem;
  border: 1px solid black;
  border-radius: 50%;
}
.round1{
  height: 50px;
  width: 50px;
}
.round2{
  height: 100px;
  width: 100px
}
.round3{
  height: 150px;
  width: 150px;
}
.round4{
  height: 200px;
  width: 200px;
}
.box-input{
  height:25px;
  width: 250px;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-radius: 0.5rem; 
}
.box-input:hover{
  border-left: 1px solid var(--violet-blue-crayola);
  border-top: 1px solid var(--violet-blue-crayola);
  border-right: 5px solid var(--violet-blue-crayola);
  border-bottom: 5px solid var(--violet-blue-crayola);
}
.box-textarea{
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-radius: 0.5rem; 
}
.box-textarea:hover{
  border-left: 1px solid var(--violet-blue-crayola);
  border-top: 1px solid var(--violet-blue-crayola);
  border-right: 5px solid var(--violet-blue-crayola);
  border-bottom: 5px solid var(--violet-blue-crayola);
}
.list-spaced{
  margin:auto;
  padding:3rem;
  list-style: none;
  width:fit-content;
  /* padding-inline-start: 0px; */
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: var(--violet-blue-crayola);
}
.list-spaced-item{
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: var(--bgcol);
  margin: 10px;
}
.list-stacked{
  margin:auto;
  padding:3rem;
  list-style: none;
  width: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-inline-start: 0px; */
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: var(--violet-blue-crayola);
}
.list-stacked-item{
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: var(--bgcol);
  margin-left: 10px;
  margin-right:10px;
}
.modal{
  background-color: var(--violet-blue-crayola);
  height: 350px;
  width:300px;
  margin: auto;
  border: 1px solid white;
  border-radius: 0.5rem;
  position: relative;
}
.modal-close{
  border: 1px solid white;
  margin: auto;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
.modal-list{
  list-style: none;
  padding-inline-start: 0px;
  border: 1px solid white;
  margin: 2rem 1rem 2rem 1rem;
  height: 300px;
  justify-content: space-between;
}
.modal-list-item{
  padding:1rem;
  margin: 1rem;
  border: 1px solid white;
  border-radius: 0.5rem;
}
.all-text-box{
  background-color: var(--violet-blue-crayola);
}
.text-h1{
  font-size: 1.8em;
}
.text-small{
  font-size: 0.8em;
}
.text-grey{
  color: rgb(124, 124, 124);
}
.text-center{
  text-align: center;
}