@import url('https://fonts.googleapis.com/css2?family=Truculenta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
:root{
  --bgcol: #fdcbbe;
  --text-col: #0c0300;
  --button-col: #df3105;
  --card-col: #fff2ef;
  --new-tag: #1f65ff;
  --index1 : 1 ;
}

/* 426, 520 */
@media(min-width:426px){
  :root{
    margin: 0rem 1rem;
  } 
}

.body-main{
  margin: 0rem;
  margin-top: 5rem;
  width: 100vw;
  text-align: center;
  background-color: var(--bgcol);
  color: var(--text-col);
  text-decoration: solid;
  font-family: 'Roboto Condensed', sans-serif;
  align-items: center;
}
.navbar{
  position:relative;
}
.nav-box{
  /* z-index: var(--index1); */
  display:flex;
  position: fixed;
  left: 0rem;
  top: 0rem;
  z-index: 10;
  background-color: #ffffff;
  width: 100vw;
  padding: 1rem;
}
.brand-name{
  font-family: 'Truculenta', sans-serif;
  font-weight: 400;
  font-size: xx-large;
}
.nav-right{
  width:fit-content;
  margin: auto 1.5rem auto auto;
}
.nav-icon-box{
  position:relative;
}
.nav-icon{
  position:fixed;
  right: 1.5rem;
  top: 1.5rem;
  height:20px;
  width:20px;
  color:var(--text-col);
}
.float-btn-div{
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
}
.float-btn{
  z-index: 100;
  margin: 0rem;
  text-align:center;
  border: 2px solid white;
  box-shadow: none;
  border-radius: 50%;
  height:50px;
  width:50px;
  background-color: var(--button-col);
}
.icon-svg{
  height:30px;
  width:30px;
}
.all-comp-inside{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.btn-div{
  margin:auto;
  width: fit-content;
}
.btn{
  margin: 1rem 1rem;
  color: white;
  background-color: var(--button-col);
  border: 5px solid var(--button-col);
  border-radius: 3rem;
  box-shadow: 0.3rem 0.3rem rgb(0,0,0,0.3);
  outline: none;
  transition: 0.5s;
}
.btn:active{
  transform: scale(0.90)
}
.btn-primary{
  margin: 0.5rem 0.5rem;
  height: 3rem;
  width: 6rem;
}
.link{
  text-decoration: none;
  margin: auto;
}