@import url('https://fonts.googleapis.com/css2?family=Truculenta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
:root{
  --bgcol: #fdcbbe;
  --text-col: #0c0300;
  --button-col: #df3105;
  --card-col: #fff2ef;
  --new-tag: #1f65ff;
  --index1 : 1 ;
}
.body-main{
  display: flex;
  justify-content: center;
  margin: 0rem;
  margin-top: 4rem;
  width: 100%;
  text-align: center;
  background-color: var(--bgcol);
  color: var(--text-col);
  text-decoration: solid;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
.navbar{
  position:relative;
  margin: 0rem;;
}
.nav-box{
  display:flex;
  position: fixed;
  left: 0rem;
  top: 0rem;
  z-index: 10;
  background-color: #ffffff;
  width: 100vw;
  box-shadow: 0.2rem 0.2rem rgb(0,0,0,0.2);
}
.nav-left{
  margin: auto 0.5rem;
  display: flex;
}
.nav-option-desk{
  padding: 0.3rem;
  margin: 0.2rem;
  box-shadow: 0.1rem 0.1rem rgb(0,0,0,0.2);
}
.nav-links{
  text-decoration: none;
  margin: auto;
  cursor: pointer;
  color: black;
  font-size: large;
}
.nav-icon-box{
  display: none;
  margin: 0rem;
  padding: 0.5rem;
  background-color: #ffffff;
}
.nav-icon{
  display: none;
  height: 30px;
  width: 30px;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.brand-name{
  font-family: 'Truculenta', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  padding:0.5rem;
}
.sidebar{
  height: 100%;
  width: 9rem;
  padding: 0rem;
  margin: 0rem;
  position:fixed;
  background-color: #ffffff;
  margin-left: 0rem;
  left: 0rem;
  border: 1px solid black;
}
.side-comps{
  list-style: none;
  padding-inline-start: 0rem;
  padding:0.5rem;
  margin-top: 0.3rem;
}
.side-btn-div{
  margin: 0rem;
  width: fit-content;
}
.side-link{
  text-decoration: none;
  margin: 0rem;
  color: black;
}
.side-btn-primary{
  height: 2.5rem;
  width: 5.5rem;
}
.btn-sidebar{
  margin: 0.2rem 1rem;
  background-color: white;
  border:0px;
  border-radius: 3rem;
  box-shadow: 0.2rem 0.2rem rgb(0,0,0,0.2);
  outline: none;
  transition: 0.5s;
}
.btn-sidebar:active{
  transform: scale(0.90)
}
.btn-sidebar:hover{
  cursor: pointer;
}
.float-btn-div{
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
}
.float-btn{
  z-index: 100;
  margin: 0rem;
  text-align:center;
  border: 2px solid white;
  box-shadow: none;
  border-radius: 50%;
  height:50px;
  width:50px;
  background-color: var(--button-col);
}
.all-comp-inside{
  justify-content: center;
  align-items: center;
  margin-left: 9rem;
  width: 100%;
}
.sub-headings{
  text-decoration: overline underline;
}
.element-snippet{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem;
}
.snippet{
  margin: 0rem;
  padding: 0rem;
  align-items: center;
}
.note{
  justify-content: center;
  background-color: #ffffff;
  width: 200px;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: auto;
}
.avatar{
  margin:1rem;
  border: 1px solid white;
  border-radius: 60%;
  padding:1rem;
  background-color: #ffffff;
}
.avatar-small{
  height:3rem;
  width:3rem;
}
.avatar-medium{
  height:4rem;
  width:4rem;
}
.avatar-large{
  height:5rem;
  width:5rem;
}
.all-alerts{
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}
.alert{
  margin: 1rem auto;
  padding: 1.5rem;
  height: fit-content;
  text-align: center;
  align-self: center;
  width: 20rem;
  border-radius: 0.5rem;
}
.alert-regular{
  background-color: #fefefe;
  color: #636464;
  border: 1px solid;
}
.alert-warning{
  background-color: #fff3cd;
  color: #6c4c00;
  border: 1px solid;
}
.alert-success{
  background-color: #cbe8de;
  color: #005235;
  border: 1px solid;
}
.alert-fail{
  background-color: #ffd6d9;
  color: #931320;
  border: 1px solid;
}
.all-buttons{
  height:fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.btn-div{
  margin:auto;
  width: fit-content;
}
.btn{
  margin: 1rem;
  color: white;
  background-color: var(--button-col);
  border: 5px solid var(--button-col);
  border-radius: 3rem;
  box-shadow: 0.2rem 0.2rem rgb(0,0,0,0.3);
  outline: none;
  transition: 0.5s;
}
.btn:active{
  transform: scale(0.90)
}
.btn-primary{
  height: 3rem;
  width: 6rem;
}
.btn-secondary{
  color: var(--button-col);
  background-color: #ffffff;
  height: 3rem;
  width: 6rem;
}
.icon-btn-size{
  height:50px;
  width:50px;
}
.icon-svg{
  height:30px;
  width:30px;
}
.btn-icon-text{
  height: 40px;
  width: 100px;
  display: inline-flex;
  align-items: center;
  padding: 0.1rem;
}
.text-btn-icon{
  height: 20px;
  width:20px;
  margin: 0.2rem;
}
.link{
  text-decoration: none;
  margin: auto;
  color: black;
}
.all-badges{
  display:flex;
  margin: 2rem auto;
}
.badge-div{
  position:relative;
  display: flex;
  margin: auto;
  padding:0.5rem;
  width: fit-content;
  height: fit-content;
  vertical-align: middle;
}
.badge-on-icon{
  height:20px;
  width:20px;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  right:0.1rem;
  top:0.1rem;
}
.badge-icon-img{
  background-color: white;
  margin:auto auto auto auto;
  padding:0.5rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  height:40px;
  width:40px;
  align-items: center;
}
.badge-on-avatar{
  height:20px;
  width:20px;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  right:0.5rem;
  top:0.5rem;
}
.badge-avatar-img{
  padding: 0.8rem;
  height:50px;
  width:50px;
  border: 1px solid white;
  border-radius: 60%;
  background-color: white;
}
.badge-1{
  background-color: #fb8500;
}
.badge-2{
  background-color: #00a150;
}
.badge-3{
  background-color: #f62915;
}
.card-spaces{
  margin: 1rem auto;
  width: fit-content;
}
.card-div{
  height: 250px;
  width: 180px;
  border: 1px solid var(--text-col);
  border-radius: 0.5rem;
  background-color: var(--card-col);
  position:relative;
  text-align: center;
}
.card-title{
  font-size: large;
  padding: 0.5rem;
  margin: 0.5rem;
  text-decoration: overline underline;
}
.card-img{
  margin: 0.5rem; 
  height: auto;
  width: 90%;
}
.card-badge{
  position:absolute;
  right: 0rem;
  top: 1rem;
  width:100px;
  height:20px;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  color: white;
  background-color: var(--new-tag);
}
.card-dismiss-position{
  position: absolute;
  height:fit-content;
  width:fit-content;
  right: 0.3rem;
  top: 0.3rem;
}
.card-dismiss-icon{
  height:20px;
  width:20px;
}
.on-card-dismiss{
  visibility:hidden;
  position:absolute;
  left: -3rem;
  top: 1.5rem;
  border: 1px solid whitesmoke;
  border-radius: 3rem;
  width: 120px;
  color: var(--text-col);
  background-color: var(--card-col);
}
.card-dismiss-position:hover .on-card-dismiss{
  cursor: pointer;
  visibility: visible;
}
.card-overlay-img{
  margin:  1rem auto;
  align-self: center;
  opacity: 40%;
  border-radius: 0.5rem;
  height: 90%;
  width: 100%;
}
.card-overlay-text{
  text-decoration: double;
  text-align: center;
  margin: 1rem;
  position: absolute;
  top: 1rem;
}
.card-text{
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: larger;
}
.card-shadow{
  margin: 0rem;
  box-shadow: 0.5rem 0.5rem rgb(0 ,0 ,0 ,0.7);
}
.card-horizontal{
  margin: 0.5rem;
  height: 170px;
  width: 300px;
}
/* the class below is just for this page's layout to put images in one row.*/
.all-images{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
}
.img-regular{
  margin: 1rem;
  border: 1px solid black;
  height: 80px;
  width: 80px;
}
.img-round{
  margin: 1rem;
  border: 1px solid black;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
.img-small{
  height: 100px;
  width: 100px
}
.img-medium{
  height: 150px;
  width: 150px;
}
.img-large{
  height: 200px;
  width: 200px;
}
.all-inputs{
  justify-content: center;
  align-items: center;
  margin: auto; 
}
.box-input{
  height:25px;
  width: 200px;
  color: var(--text-col);
  border: 1px solid var(--text-col);
  border-radius: 0.5rem;
  margin: auto;
}
.box-input:active{
  outline: none;
}
.box-textarea{
  color: var(--text-cols);
  border: 1px solid var(--text-col);
  border-radius: 0.5rem;
  margin: auto;
}
.box-textarea:active{
  outline: none;
}
.list{
  margin:auto;
  padding:1rem;
  width: 15rem;
  list-style: none;
  background-color: var(--bgcol);
}
.list-items{
  width: auto;
  padding: 0.5rem;
  border: 1px solid var(--text-col);
  border-radius: 1rem;
  background-color: white;
}
.spaced-item{
  margin: 1rem;
}
.stacked-item{
  margin: 0rem;
}
.modal{
  background-color: var(--card-col);
  height: 300px;
  width:200px;
  text-align: center;
  margin: 1rem;
  border: 1px solid var(--text-col);
  border-radius: 0.5rem;
  position: relative;
}
.modal-menu-position{
  height: auto;
  width: auto;
  margin: auto;
  padding: auto;
}
.modal-icon{
  height: 30px;
  width:30px;
  color:whitesmoke;
}
.modal-list{
  visibility: hidden;
  list-style: none;
  padding: 1rem;
  border: 1px solid var(--text-col);
  justify-content: space-between;
}
.modal-menu-position:hover .modal-list{
  visibility: visible;
}
.modal-list-item{
  padding: 0.3rem;
  margin: 0.3rem;
  border: 1px solid var(--text-col);
  border-radius: 0.5rem;
}
.all-text{
  text-align: left;
  width: 300px
}
.text-grey{
  color: gray;
  background-color: var(--text-col);
  padding: 0.5rem;
}
.text-left{
  text-align: left;
  margin: 1rem;
}
.text-center{
  text-align: center;
  margin: 1rem;
}
.text-right{
  text-align: right;
  margin: 1rem;
}