<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Components</title>
  <link rel="stylesheet" href="/components/components.css">
</head>
<body class="body-main">
  <div class="float-btn-div">
    <button class="float-btn"><a href="/" target="_top"><img class="icon-svg" src="/icon-btn/angle-up-solid.svg"></a></button>
  </div>
  <h1>Alert</h1>
  <div class="all-comp-inside">
    <div class="alert alert-regular">
      <div>OOPS! Something went wrong.Please check-in after some time 😄</div>
    </div>
    <div class="alert alert-warning">
      <div>This is Warning alert</div>
    </div>
    <div class="alert alert-success">
      <div>Transaction was SUCCESSFUL!</div>
    </div>
    <div class="alert alert-fail">
      <div>Transaction FAILED! </div>
    </div>
  </div>
  <h1>Buttons</h1>
  <div class="all-comp-inside">
    <div class="all-buttons">
      <button class="btn btn-primary">primary</button>
      <button class="btn btn-secondary">secondary</button>
      <button class="btn btn-primary" src="/">link</button>
    </div>
    <div class="all-buttons">
      <button class="btn icon-btn-size"><img class="icon-svg" src="/icon-btn/home-solid.svg"></img></button>
      <button class="btn icon-btn-size">
        <img class="icon-svg" src="/icon-btn/edit-solid.svg"></img>
      </button>
      <button class="btn btn-icon-text">
        <img class="text-btn-icon" src="/icon-btn/save-solid.svg"></img>&nbsp;
        <h3>SAVE</h3>
      </button>
      <button class="btn btn-icon-text">
        <img class="text-btn-icon" src="/icon-btn/share-alt-square-solid.svg"></img>&nbsp;
        <h3>SHARE</h3>
      </button>
    </div>
  </div>
  <h1>Badge</h1>
  <div>
    <div class="all-comp-inside">
      <div class="badge-div">
        <div class="badge-on-icon badge-1"></div>
        <img class="badge-icon-img" src="/icon-btn/user-circle-solid.svg"></img>
      </div>
      <div class="badge-div">
        <div class="badge-on-icon badge-2"></div>
        <img class="badge-icon-img" src="/icon-btn/user-circle-solid.svg"></img>
      </div>
      <div class="badge-div">
        <img class="badge-icon-img" src="/icon-btn/user-circle-solid.svg"></img>
        <div class="badge-on-icon badge-3"></div>
      </div>
    </div>
    <div class="all-comp-inside">
      <div class="badge-div">
        <div class="badge-on-avatar badge-1"></div>
        <img class="badge-avatar-img" src="/avatar-images/001-woman.svg"></img>
      </div>
      <div class="badge-div">
        <div class="badge-on-avatar badge-2"></div>
        <img class="badge-avatar-img" src="/avatar-images/001-woman.svg"></img>
      </div>
      <div class="badge-div">
        <div class="badge-on-avatar badge-3"></div>
        <img class="badge-avatar-img" src="/avatar-images/001-woman.svg"></img>
      </div>
    </div>
  </div>
  <h1>Cards</h1>
  <div class="all-comp-inside">
    <div class="card-spaces">
      <div class="card-div">
        <img class="card-img" src="/temp-image/person-img.jpg"></img>        
        <div class="card-badge">NEW</div>
        <div class="card-title">Card w/ Badge</div>
      </div>
    </div>
    <div class="card-spaces">
      <div class="card-div">
        <img class="card-img" src="/temp-image/person-img.jpg"></img>          
        <div class="card-dismiss-position">
          <img class="card-dismiss-icon" src="icon-btn/times-circle-solid.svg">
          <span class="on-card-dismiss">I'M not active currently</span>
        </div>
        <div class="card-title">Card w/ Dismiss</div>
      </div>
    </div>
    <div class="card-spaces">
      <div class="card-div">
        <img class="card-overlay-img" src="/temp-image/temp-img2.svg"></img>
        <div class="card-overlay-text">
          <p>HEY, HELLO OUT THERE!!</p>
          <div class="card-title">Card w/ Text overlay</div>
        </div>
      </div>
    </div>
    <div class="card-spaces">
      <div class="card-div">
        <div class="card-text">
          <div class="card-title">Card w/ Text</div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ratione vero reprehenderit.</p>
        <!-- <button class="btn">primary</button> -->
        </div>
      </div>
    </div>
    <div class="card-spaces">
      <div class="card-div card-shadow">
        <div class="card-title">Card w/ Shadow</div>
      </div>
    </div>
    <div class="card-spaces">
      <div class="card-div">
        <br>V<br>E<br>R<br>T<br>I<br>C<br>A<br>L<br><br>
        <div class="card-title">Vertical Cards</div>
      </div>
    </div>
    <div class="card-spaces">
      <div class="card-div card-horizontal">
        H O R I Z O N T A L <br> C A R D
        <div class="card-title">Horizontal Cards</div>
      </div>
    </div>
  </div>
  <h1>Images</h1>
  <div class="all-comp-inside">
    <div class="all-comp-inside">
      <div class="resp1">
        <a href="/">
          <img class="img-resp" src="/temp-image/person-img.jpg"></img>
        </a>
      </div>
      <div class="resp2">
        <a href="/">
        <img class="img-resp" src="/temp-image/person-img.jpg"></img>
        </a>
      </div>
      <div class="resp3">
        <a href="/">
          <img class="img-resp" src="/temp-image/person-img.jpg"></img>
        </a>
      </div>
    </div>
    <div class="all-comp-inside">
      <div>
        <a href="/">
          <img class="img-round round1" src="/temp-image/person-img.jpg"></img>
        </a>
      </div>
      <div>
        <a href="/">
          <img class="img-round round2" src="/temp-image/person-img.jpg"></img>
        </a>
      </div>
      <div>
        <a href="/">
          <img class="img-round round3" src="/temp-image/person-img.jpg"></img>
        </a>
      </div>
    </div>
  </div>
  <h1>Inputs</h1>
  <div class="all-comp-inside">
    <input  class="box-input" placeholder="type in here"></input>
    <br><br><br>
    <textarea class="box-textarea" placeholder="type in here" cols="30" rows="5"></textarea>
  </div>
  <h1>Lists</h1>
  <div class="all-comp-inside">
    <div>
      <h3>SPACED LIST</h3>
      <ul class="list">
        <li class="list-items spaced-item">cheese</li>
        <li class="list-items spaced-item">maggi</li>
        <li class="list-items spaced-item">cold-coffee</li>
        <li class="list-items spaced-item">panipuri</li>
      </ul>
    </div>
    <div>
      <h3>STACKED LIST</h3>
      <ul class="list">
        <li class="list-items stacked-item">cheese</li>
        <li class="list-items stacked-item">maggi</li>
        <li class="list-items stacked-item">cold-coffee</li>
        <li class="list-items stacked-item">panipuri</li>
      </ul>
    </div>
  </div>
  <h1>Modal</h1>
  <div class="all-comp-inside">
    <div class="modal">
      <div class="modal-menu-position">
        <img src="/icon-btn/bars-solid.svg" class="modal-icon"></img>
        <ul class="modal-list">
          <li class="modal-list-item">option</li>
          <li class="modal-list-item">option</li>
          <li class="modal-list-item">option</li>
          <li class="modal-list-item">option</li>
        </ul>
      </div>
      <p>--hover above--</p>
    </div>
  </div>
  <h1>Text Utilities</h1>
  <div class="all-text-box">
    <div class="text-h1">This is H1 text.</div>
    <div class="text-small">This is small text.</div>
    <div class="text-grey">This is grey text</div>
    <div class="text-center">This is centered text</div>
  </div>
</body>
</html>