@import url('https://fonts.googleapis.com/css2?family=Truculenta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
:root{
  --bgcol: #fdcbbe;
  --text-col: #0c0300;
  --button-col: #df3105;
  --card-col: #fff2ef;
  --new-tag: #1f65ff;
  --index1 : 1 ;
}
.body-main{
  display: flex;
  justify-content: center;
  margin: 0rem;
  margin-top: 4rem;
  width: 100vw;
  text-align: center;
  background-color: var(--bgcol);
  color: var(--text-col);
  text-decoration: solid;
  font-family: 'Roboto Condensed', sans-serif;
  /* align-items: center; */
}
.navbar{
  position:relative;
  margin: 0rem;;
}
.nav-box{
  display:flex;
  position: fixed;
  left: 0rem;
  top: 0rem;
  z-index: 10;
  background-color: #ffffff;
  width: 100vw;
}
.brand-name{
  font-family: 'Truculenta', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  padding:0.5rem;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-right{
  width:fit-content;
  margin: auto 1.5rem auto auto;
}
.nav-icon-box{
  position:relative;
}
.nav-icon{
  position:fixed;
  right: 1.5rem;
  top: 1.5rem;
  height:20px;
  width:20px;
  color:var(--text-col);
}
.sidebar{
  height: 100vh;
  width: auto;
  padding: 1rem;
  margin: 0rem;
  background-color: #ffffff;
  margin-left: 0rem;
  position: fixed;
  left: 0rem;
}
.side-comps{
  list-style: none;
}
.side-comp-link{
  font-family: 'Roboto Condensed', sans-serif;
  padding: 1rem;
}
.avatar{
  margin:1rem;
  border: 1px solid white;
  border-radius: 60%;
  padding:1rem;
  background-color: #ffffff;
}
.avatar-img1{
  height:3rem;
  width:3rem;
}
.avatar-img2{
  height:4rem;
  width:4rem;
}
.avatar-img3{
  height:5rem;
  width:5rem;
}